* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: #001028;
  font-family: sans-serif;
  color: white;
}

header {
  width: 100%;
  height: 70px;
  box-shadow: 0 2px 10px rgba(0, 0, 0, .5);
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: relative;
  z-index: 10;
}

header h2,
header p {
  margin: 0 30px;
}

header .score span {
  color: #1eff00;
  font-weight: bold;
}

main {
  width: 100%;
  height: calc(100vh - 70px);
  display: flex;
  justify-content: center;
  align-items: flex-start;
}

.container {
  width: 90%;
  max-width: 350px;
  height: 90vw;
  max-height: 350px;
  margin-top: 20px;
}

.container .board {
  border: 3px solid white;
  width: 100%;
  height: 100%;
  border-radius: 50%;
  box-shadow: 0px 0px 15px rgba(225, 255, 255, .3);
  position: relative;
  overflow: hidden;
}

.board div {
  border: 1px solid white;
  width: 100%;
  height: 100%;
  position: absolute;
  cursor: pointer;
}

.board div:hover {
  border: 3px solid #001028;
}

.board .blue {
  top: -50%;
  left: -50%;
  background-color: #0059ff;
}

.board .light-blue {
  background-color: #81adff;
}

.board .red {
  top: -50%;
  right: -50%;
  background-color: #ff0000;
}

.board .light-red {
  background-color: #ff9898;
}

.board .green {
  top: 50%;
  left: 50%;
  background-color: #1eff00;
}

.board .light-green {
  background-color: #a2ff95;
}

.board .yellow {
  top: 50%;
  right: 50%;
  background-color: #fff200;
}

.board .light-yellow {
  background-color: #fff87b;
}

.board .circle {
  border: 3px solid white;
  width: 25px;
  height: 25px;
  border-radius: 50%;
  background-color: #001028;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.btn-container {
  width: 100%;
  height: 100%;
  border-radius: 50%;
  background-color: rgba(225, 255, 255, .3);
  position: relative;
}

.btn-container .btn-start {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 80%;
  height: 20%;
  border-radius: 25px;
  border: 3px solid white;
  cursor: pointer;
  color: #1eff00;
  font-weight: bold;
  font-size: 1.8em;
  background-color: #001028;
  letter-spacing: .3em;
}

.hide {
  display: none;
}

.container .level {
  border: 2px solid white;
  background-color: rgba(225, 255, 255, .3);
  width: 70%;
  margin: 25px auto;
  text-align: center;
  padding: 15px;
  border-radius: 25px;
}

.container .level span {
  color: #1eff00;
  font-weight: bold;
}

.answer {
  border: 2px solid white;
  border-radius: 15px;
  width: 80%;
  padding: 15px;
  margin: 25px auto;
  text-align: center;
  transition: 5s;
}

.answer-colors {
  width: 100%;
  margin: 10px auto 0;
}

.answer-colors .answer-color {
  border: 1px solid white;
  width: 85%;
  border-radius: 5px;
  margin: 0 auto 10px;
  height: 35px;
}

.answer-colors .blue {
  background-color: #0059ff;
}

.answer-colors .red {
  background-color: #ff0000;
}

.answer-colors .green {
  background-color: #1eff00;
}

.answer-colors .yellow {
  background-color: #fff200;
}

.difficulty {
  width: 120px;
  height: 100vh;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-content: space-around;
  position: fixed;
  top: 0;
  right: 15px;
  padding-top: 70px;
  z-index: 10;
}

.difficulty article {
  width: 100%;
  padding: 10px;
  border-radius: 10px;
  text-align: center;
  cursor: pointer;
}

.difficulty .easy {
  border: 2px solid #66ff00;
}

.difficulty .normal {
  border: 2px solid #d0ff00;
}

.difficulty .hard {
  border: 2px solid #e40303;
}

.difficulty .easy:hover {
  background-color: #66ff00;
  font-weight: bold;
}

.difficulty .normal:hover {
  background-color: #d0ff00;
  font-weight: bold;
}

.difficulty .hard:hover {
  background-color: #e40303;
  font-weight: bold;
}

.difficulty article span {
  display: inline-block;
  width: 25px;
  height: 25px;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  vertical-align: middle;
  margin-left: 5px;
}

.difficulty .easy span {
  background-image: url('../icons/serious.svg');
}

.difficulty .normal span {
  background-image: url('../icons/happy.svg');
}

.difficulty .hard span {
  background-image: url('../icons/bad.svg');
}

@media screen and (max-width: 768px) {
  .difficulty {
    width: 150px;
    background-color: #001028;
    padding: 0 15px;
    right: -150px;
  }

  .difficulty-btn {
    height: 50px;
    width: 50px;
    background-color: #001028;
    position: absolute;
    top: 90px;
    left: -50px;
    border-top-left-radius: 10px;
    border-bottom-left-radius: 10px;
  }

  .difficulty-btn span {
    display: block;
    width: 35px;
    height: 35px;
    background-image: url('../icons/arrow.svg');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    transform: translate(8px, 8px) rotateZ(180deg);
  }
}