* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: #001028;
  font-family: sans-serif;
  color: white;
}

header {
  width: 100%;
  height: 70px;
  box-shadow: 0 2px 10px rgba(0, 0, 0, .5);
  display: flex;
  justify-content: space-between;
  align-items: center;
}

header h2,
header p {
  margin: 0 30px;
}

header .score span {
  color: #1eff00;
  font-weight: bold;
}

main {
  width: 100%;
  height: calc(100vh - 70px);
  display: flex;
  justify-content: center;
  align-items: flex-start;
}

.container {
  width: 90%;
  max-width: 350px;
  height: 90vw;
  max-height: 350px;
  margin-top: 20px;
  transition: 5s;
}

.container .board {
  border: 3px solid white;
  width: 100%;
  height: 100%;
  border-radius: 50%;
  box-shadow: 0px 0px 15px rgba(225, 255, 255, .3);
  position: relative;
  overflow: hidden;
}

.board div {
  border: 1px solid white;
  width: 100%;
  height: 100%;
  position: absolute;
  cursor: pointer;
}

.board div:hover {
  border: 3px solid #001028;
}

.board .blue {
  top: -50%;
  left: -50%;
  background-color: #0059ff;
}

.board .light-blue {
  background-color: #81adff;
}

.board .red {
  top: -50%;
  right: -50%;
  background-color: #ff0000;
}

.board .light-red {
  background-color: #ff9898;
}

.board .green {
  top: 50%;
  left: 50%;
  background-color: #1eff00;
}

.board .light-green {
  background-color: #a2ff95;
}

.board .yellow {
  top: 50%;
  right: 50%;
  background-color: #fff200;
}

.board .light-yellow {
  background-color: #fff87b;
}

.board .circle {
  border: 3px solid white;
  width: 25px;
  height: 25px;
  border-radius: 50%;
  background-color: #001028;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.btn-container {
  width: 100%;
  height: 100%;
  border-radius: 50%;
  background-color: rgba(225, 255, 255, .3);
  position: relative;
}

.btn-container .btn-start {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 80%;
  height: 20%;
  border-radius: 25px;
  border: 3px solid white;
  cursor: pointer;
  color: #1eff00;
  font-weight: bold;
  font-size: 1.8em;
  background-color: #001028;
  letter-spacing: .3em;
}

.hide {
  display: none;
}

.container .level {
  border: 2px solid white;
  background-color: rgba(225, 255, 255, .3);
  width: 70%;
  margin: 25px auto;
  text-align: center;
  padding: 15px;
  border-radius: 25px;
}

.container .level span {
  color: #1eff00;
  font-weight: bold;
}

.answer {
  border: 2px solid white;
  border-radius: 15px;
  width: 80%;
  padding: 15px;
  margin: 25px auto;
  text-align: center;
  transition: 3s;
}

.answer-colors {
  width: 100%;
  margin: 10px auto 0;
}

.answer-colors .answer-color {
  border: 1px solid white;
  width: 85%;
  border-radius: 5px;
  margin: 0 auto 10px;
  height: 35px;
}

.answer-colors .blue {
  background-color: #0059ff;
}

.answer-colors .red {
  background-color: #ff0000;
}

.answer-colors .green {
  background-color: #1eff00;
}

.answer-colors .yellow {
  background-color: #fff200;
}